{% extends 'layouts/base.html' %}

{% block title %}Privacy Policy - {{ super() }}{% endblock %}

{% block main %}
  <section class="jumbotron">
    <h1>Privacy Policy:</h1>
    <p>Information we collect:<br>
    We collect user names, email addresses and passwords. Passwords are encrypted, and we have no
    way of retrieving them. if your password is lost, you must reset it through our 
    <a href='/forgot_password'>forgot password</a> link.</p> 
    <p>What we do with this information:<br>
    We take privacy very seriously. We use this data to send updates and conference related 
    info to attendees. It is not used for any other purpose, nor is it given or sold to any other party,
    including other attendees or sponsoors. Afetr the conference ends, we destroy this data.</p>
    <p>Feel free to contact organizers@pygotham.org for details involving privacy.</p>
  </section>
{% endblock %}
